<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" preserve-order="true">
    <classes>
	<class name="com.kisan.kisannet.testscripts.SendVideoToFollowers" />
	<class name="com.kisan.kisannet.testscripts.SendImageToFollowers" />
	<class name="com.kisan.kisannet.testscripts.SendAudioToFollowers" />
	<class name="com.kisan.kisannet.testscripts.SendLocationToFollowers" />
	<class name="com.kisan.kisannet.testscripts.SendTextMessageToFollowers" />
	<class name="com.kisan.kisannet.testscripts.SendVideoToAdmin" />
	<class name="com.kisan.kisannet.testscripts.SendImageToAdmin" />
	<class name="com.kisan.kisannet.testscripts.SendAudioToAdmin" />
	<class name="com.kisan.kisannet.testscripts.SendLocationToAdmin" />
	<class name="com.kisan.kisannet.testscripts.SendTextMessageToAdmin" />
	<class name="com.kisan.kisannet.testscripts.FollowChannel" />
	<class name="com.kisan.kisannet.testscripts.InviteToDownloadApp" />
	<class name="com.kisan.kisannet.testscripts.InviteToFollowChannel" />
	<class name="com.kisan.kisannet.testscripts.CreateChannel" />
	<class name="com.kisan.kisannet.testscripts.UnfollowChannel" />
	<class name="com.kisan.kisannet.testscripts.EditSelfProfile" />
	<class name="com.kisan.kisannet.testscripts.EditChannelProfile" />
	<class name="com.kisan.kisannet.testscripts.ChangeLanguage" />
	<class name="com.kisan.kisannet.testscripts.Logout" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
